.sky-blue-t{
    background-color: #DCF2F1;
}

.water-blue-t{
    background-color: #7FC7D9;
}


.ink-blue-t{
    background-color: #365486;
    
}


.dark-blue-t{
    background-color: #0F1035;
}





.sky-blue-c{
   color: #DCF2F1;
}

.water-blue-c{
    color: #7FC7D9;
}


.ink-blue-c{
   color: #365486;
}


.dark-blue-c{
    color: #0F1035;
}









.E{
    font-size: 1.8rem;
    color: #7FC7D9;
}

.S{
    font-size: 1.8rem;
    color: #7FC7D9;
}













